html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

body{
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}



@import 'variables';
@import 'header';
@import 'top_section';
@import 'rent_section';
@import 'benefits';
@import 'feedbacks';

.application-btn{
    text-transform: uppercase;
    color: $text-color-white;
    background: $background-btn;
    padding: 16px 19px 15px;
    border: 1px solid transparent;
    transition: all 0.5s;
    &:hover{
        color: $background-btn;
        background: $text-color-white;
        border: 1px solid $background-btn;
    }
}
